@import "tailwindcss";

:root {
  --foreground-rgb: rgb(69, 69, 69);
  --background-rgb: rgb(245, 245, 245);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-rgb: rgb(10, 10, 10);
  }
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-rgb);
  height: 100%;
  font-family: monospace;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "+";
  margin-right: 10px;
}

details[open] > summary::before {
  content: "-";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
