@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 69, 69, 69;
  --background-rgb: 245, 245, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 200, 200, 200;
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  height: 100%;
  font-family: monospace;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "+";
  margin-right: 10px;
}

details[open] > summary::before {
  content: "-";
}

a {
  color: #6366f1 /* indigo 500 */
}

a:visited {
  color: #3730a3 /* indigo 800 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
