.carousel-wrapper {
    background-image: url('../../home/images/redintro.jpg');
    background-repeat: no-repeat !important;
    background-size: 79% !important;
    background-position: center !important;
    background-position-x: 100% !important;
    height: calc(100vh - 4rem);
    margin-top: 4rem;

    .content {

        float: left;
        position: absolute;
        top: 35vh;
        margin-right: 18rem;
    
        h1 {
            font-size: 7rem;
            position: relative;
            left: 6rem;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            user-select: none;
            line-height: 1;
        }

        .mobile-name {
            display: none;
        }

        .media-icons{

            list-style: none;
            left: -4.5rem;
            position: absolute;
            top: 16vh;

            li {
                padding-top: 1rem;

                a {
                    font-size: 1.5rem;
                    color: white;
                }

                a:hover {
                    color: rgb(53, 146, 218);
                }
            }
        }
    
        .mail-btn a{
            position: relative;
            left: 6rem;
            font-size: 2rem;
            color: black !important;
            background-color: white;
            user-select: none;
        }
    
        .mail-btn a:hover{
            background: #3498db;
            color: white !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .carousel-wrapper {
        margin-top: 2.5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        background-size: cover  !important;
        background-position-x: 56% !important;

        .mobile-name {
            transform: rotate(-90deg);
            position: absolute;
            left: -115px;
            top: -14vh;
            font-size: 2rem;
            display: block !important;
            white-space: nowrap;
        }

        .content {
            h1 {
                display: none;
            }

            .mail-btn {
                display: none;
            }
        }
    }
}
